.navs{
    background-color: rgb(1, 1, 24);
}
body{
    background-color:rgb(11, 11, 24);

}
hr{
    background-color: white;
    color:white;
}
.heading{
    color: white;
}
.aboutme{

    width: 100%;
    background-color: white;
    border-radius: 18px;
    padding: 34px;

}
.navtab{
    width: 100%;
    text-align: center;
}
#navtab{
    
    padding: 34px;
 color: white;
}
