
#phone{
    width: 100%;
}
#intro{
    font-size: 10px;
}
#afterintro{
    font-size: 9px;
}
.navtab{
    width: 100%;

    text-align: left;
}
#navtab{
    
    padding: 0px;
 
}
.navbutton{
    text-align: center;
    font-size: 7px;
    width: 70px;
    color: white;
}
#card{
    align-items: center;
}
.perso{
    font-size: 12px;
}
.afterperso{
    font-size: 10px;
}
li{
    font-size: 10px;

}
